// Piwik
script.
    var _paq = _paq || [];
    _paq.push(["setDomains", ["*.just4fun.chenky.com"]]);
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function () {
        var u = "//piwik.chenky.com/";
        _paq.push(['setTrackerUrl', u + 'piwik.php']);
        _paq.push(['setSiteId', '2']);
        var d = document, g = d.createElement('script'), s = d.getElementsByTagName('script')[0];
        g.type = 'text/javascript';
        g.async = true;
        g.defer = true;
        g.src = u + 'piwik.js';
        s.parentNode.insertBefore(g, s);
    })();
noscript
    p
        img(src='//piwik.chenky.com/piwik.php?idsite=2', style="border:0;", alt="")
// End Piwik Code